@charset "UTF-8";
/*初始化  reset*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;color: #666;}
ol,ul{list-style:none}
a{text-decoration:none}
fieldset,img{border:0;vertical-align:top;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}

.feedbackwrap{
    width:924px;
    margin:auto;
    margin-top: 300px;
}

.feedbackslide {
    height:144px;
    position: relative;
}

.feedbackslide li{
    position: absolute;
    left:30px;
    top:0;
}

.feedbackslide li img{
    width:100%;
    box-shadow:#d6d4d3 0px 0px 20px;
}

.feedbackarrow{
    opacity: 1;
}

.feedbackprev,.feedbacknext{
    width:27px;
    height:50px;
    position: absolute;
    top:50%;
    margin-top:-25px;
    background: url(../images/leftblue.png) no-repeat;
    z-index: 99;
}

.feedbacknext{
    right:0;
    background-image: url(../images/rightblue.png);
}

.feedbackname{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedbackname .p1{
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.feedbackname .p2{
    font-size: 18px;
    color: #666;
}